.container-about-us{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.img-lali2-movil{
    display: none;
}

.img-family-movil{
    display: none;
}

.image-about-us{
    width: 48%;
}

.about-us .container-texts{
    padding: 30px;
    width: 48%;
}

.container-texts h3{
    font-size: 40px;
    margin-bottom: 15px;
    -webkit-text-stroke: 2px #3fa9f5;
    color: transparent;
}

.container-texts .color-pink{
    -webkit-text-stroke: 2px #ff7bac;
}

.container-texts p{
    text-align: justify;
}

.display-medium{
    display: none;
}

/******  RESPONSIVE  ******/
@media screen and (max-width:1000px){
    
    .vector-blue{
        display: none;
    }
    .container-about-us{
       flex-direction: column; 
       justify-content: center;
    }

    .about-us .container-texts{
        width: 95%;
    }

    .image-about-us{
        width: 100%;
    }
    
    .display-medium{
        display: block;
    }

    .display-big{
        display: none;
    }

}

@media screen and (max-width:500px){
    .img-lali2-movil{
        display: block;
    }

    .img-lali2-pc{
        display: none;
    }
    .img-family-movil{
        display: block;
    }

    .img-family-pc{
        display: none;
    }
    
    .bg-blue{
        background-color: #3fa9f5;
    }
    .bg-pink{
        background-color: #ff7bac;
    }

    .container-about-us{
        margin-bottom: 0px;
     }
    .about-us .container-texts{
        width: 100%;
        margin-bottom: 20px;
    }

    .container-texts h3{
        font-size: 30px;
        text-align: center;
        color: #fff;
        -webkit-text-stroke: 0px;
    }

    .container-texts p{
        color: #fff;
        text-align: center;
    }
    .container-texts .color-pink {
        -webkit-text-stroke: 0px;
    }
}