*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Antonio', sans-serif;
}

.container {
    padding: 20px 0;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

.foot-movil{
    display: none;
}

footer{
    padding: 10px;
}

footer h2{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.ff-anton{
    font-family: 'Anton', sans-serif;
}

p{
    text-transform: uppercase;
}

.color-pink{
    color: #ff7bac;
}

header{
    width: 100%;
    height: 1000px;
    background: #ffffff00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ff7bac, #ffffff00), url(../img/portada.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ff7bac, #ffffff00), url(../img/portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    /* background-attachment: fixed; */
    position: relative;
    background-position: center;
}

header .texts-header{
    display: flex;
    width: 100%;
    height: 1200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.texts-header h1{
    /*
    text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000, 3px 3px #000, -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000;
    */
    font-size: 140px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    -webkit-text-stroke: 2px black;
}

.texts-header h2{
    font-size: 40px;
    font-weight: 500;
    margin-top: -30px;
}

.wave{
    position: absolute;
    width: 100%;
}
.wave-whatsapp{
    margin-top: -60px;
}

.whatsapp{
    padding: 10px;
    background-color: #ff7bac;
    text-align: center;
}
.whatsapp a{
    background-color: #25ca41;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 34px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: 3px solid #fff;
}

/******  RESPONSIVE  ******/

@media screen and (max-width:1800px){
    header{
        height: 600px;
    }
    header .texts-header{
        height: 800px;
    }
    
    .texts-header h1{
        font-size: 100px;
    }

    .texts-header h2{
        font-size: 30px;
        margin-top: -24px;
    }
}
@media screen and (max-width:1000px){
    .container{
        width: 100%;
        padding-bottom: 0;
    }

}

@media screen and (max-width:500px){
    .texts-header h1{
        font-size: 70px;
    }
    .texts-header h2{
        font-size: 20px;
        margin-top: -10px;
    }
    .whatsapp{
        padding: 0px 0px 30px 0px;
        background-color: #3fa9f5;
    }
    .whatsapp a{
        font-size: 28px;
    }
    .wave-whatsapp{
        display: none;
    }
    .foot-movil{
        display: block;
    }
    .foot-pc{
        display: none;
    }
}